<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>Command line utility providing a simple way to install multiple package files.

There may be an easier way of performing installing multiple packages. Please contact us if you are aware of an easier method.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>InstallPKG</string>
</dict>
</plist>
